
# Playwright
node_modules/
ui-tests/test-results/
ui-tests/playwright-report/
ui-tests/blob-report/
ui-tests/playwright/.cache/
ui-tests/allure-report/
ui-tests/allure-results/
ui-tests/.env
ui-tests/reports/
ui-tests/.auth